{% extends 'perfil2.html' %}
{% block body %}

<div class="container">
	<div class="">
		<div class="">

            <div class="card hovercard">
                
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://6.viki.io/image/6feb26f36f16477ca6114fb1ce0f0aa2.jpeg?s=900x600&e=t">
                </div>
                <div class="info">
                    <!-- <div class="title">
                         <a target="_blank" href="https://scripteden.com/">Script Eden</a>
                    </div> -->
                    <div class="desc">Camilo Gomez</div>
                    <div class="desc">Barranquilla</div>
                    <div class="desc">Administador de Empresas</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com/+ahmshahnuralam">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>




{% endblock %}